In [32]:
#r "nuget:SandDance.InteractiveExtension,*-*"
#r "nuget:DataView.InteractiveExtension,*-*"
#r "nuget:Microsoft.ML.DataView"
#r "nuget:Microsoft.Data.Analysis"

Loading extension script from `C:\Users\MattE\.nuget\packages\sanddance.interactiveextension\1.0.97\interactive-extensions\dotnet\extension.dib`

Loading extensions from `C:\Users\MattE\.nuget\packages\microsoft.data.analysis\0.20.1\interactive-extensions\dotnet\Microsoft.Data.Analysis.Interactive.dll`

Loading extension script from `C:\Users\MattE\.nuget\packages\dataview.interactiveextension\1.0.97\interactive-extensions\dotnet\extension.dib`

Added support IDataView to kernel .NET.

In [67]:
using System.IO;
using Microsoft.Data.Analysis;
using Microsoft.ML;

string contents = File.ReadAllText("../01_Jupyter/Titanic_Processed.csv");

DataFrame ratings = DataFrame.LoadCsvFromString(contents);
ratings.Head(3)

index,Column0,pclass,survived,sex,age,Siblings and Spouses Aboard,Parents and Children Aboard,fare,embarked,cabin_letter,is_male,Total Family Aboard
0,0,1,1,female,29,0,0,211.3375,Southampton,B,0,0
1,1,1,1,male,0.9167,1,2,151.55,Southampton,C,1,3
2,2,1,0,female,2,1,2,151.55,Southampton,C,0,3

In [68]:
ratings.GetType()

In [69]:
// Get all column names
string[] columnNames = ratings.Columns.Select(c => c.Name).ToArray();
columnNames

In [70]:
// Remove Columns I don't care about
foreach (string columnName in columnNames) {
    if (columnName.StartsWith("is_") || columnName.StartsWith("Has ") || columnName.StartsWith("Aired_")) {
        ratings.Columns.Remove(columnName);
    }
}

ratings.Head(3)

index,Column0,pclass,survived,sex,age,Siblings and Spouses Aboard,Parents and Children Aboard,fare,embarked,cabin_letter,Total Family Aboard
0,0,1,1,female,29,0,0,211.3375,Southampton,B,0
1,1,1,1,male,0.9167,1,2,151.55,Southampton,C,3
2,2,1,0,female,2,1,2,151.55,Southampton,C,3

In [71]:
using Microsoft.DotNet.Interactive.Formatting.TabularData;

TabularDataResource tabular = ratings.ToTabularDataResource();

In [50]:
public class Person {
    public string First {get; set;} = "Janelle";
    public string Last {get; set;} = "Doe";
    public string FullName => $"{First} {Last}";
    public string Phone {get; set;} = "555-1234";
    public string Email {get; set;} = "NotReal@SpamAlot.com";
    public override string ToString() => FullName;
}

In [48]:
#r "..\DLLs\Bogus.dll"

In [51]:
using Bogus;

var faker = new Faker<Person>()
    .RuleFor(p => p.First, (f, p) => f.Name.FirstName())
    .RuleFor(p => p.Last, (f, p) => f.Name.LastName())
    .RuleFor(p => p.Phone, (f, p) => f.Phone.PhoneNumber())
    .RuleFor(p => p.Email, (f, p) => f.Internet.Email(p.First, p.Last));

List<Person> people = new();
for (int i = 0; i < 25; i++) {
    people.Add(faker.Generate());
}
people

In [52]:
#r "nuget:Microsoft.DotNet.Interactive.Formatting"

In [57]:
using Microsoft.DotNet.Interactive.Formatting.TabularData;

TableSchema schema = new TableSchema {
    Fields = new TableDataFieldDescriptors
    {
        new("First", TableSchemaFieldType.String),
        new("Last", TableSchemaFieldType.String),
        new("Phone", TableSchemaFieldType.String),
        new("Email", TableSchemaFieldType.String),
    }
};
schema

In [61]:
var peopleData = people.Select(p => new Dictionary<string, object>() {
    ["First"] = p.First,
    ["Last"] = p.Last,
    ["Email"] = p.Email,
    ["Phone"] = p.Phone,
});

peopleData

In [62]:
var tabularDataResource = new TabularDataResource(schema, peopleData);

tabularDataResource

First,Last,Phone,Email
Lucile,Schamberger,Lucile.Schamberger@yahoo.com,(821) 460-6502
Blanca,Stark,Blanca65@gmail.com,1-271-506-2178 x10444
Stone,Durgan,Stone84@gmail.com,913-374-3706 x7996
Laurel,Durgan,Laurel.Durgan61@hotmail.com,952-265-7281
Rozella,Nicolas,Rozella50@hotmail.com,226-247-9550 x8928
Estel,Erdman,Estel.Erdman95@yahoo.com,767.593.2161 x36573
Allan,Kuhlman,Allan.Kuhlman@yahoo.com,(245) 884-1662 x870
Brisa,Baumbach,Brisa67@gmail.com,802-984-3266 x554
Freddie,Hegmann,Freddie0@yahoo.com,1-938-742-5222 x7402
Sylvia,Yundt,Sylvia.Yundt@gmail.com,695.833.4737
Benton,Hoppe,Benton_Hoppe37@gmail.com,(423) 818-6191 x63554
Yesenia,Hane,Yesenia72@gmail.com,(983) 665-0749 x85025
Domenico,Parker,Domenico_Parker10@gmail.com,958-620-9829 x3803
Destiney,Pfannerstill,Destiney_Pfannerstill29@gmail.com,1-389-652-5033 x09517
Chauncey,Trantow,Chauncey_Trantow18@hotmail.com,(955) 766-5308 x6903
Lilla,Schaden,Lilla.Schaden79@gmail.com,802.513.9633
Jayde,Boyer,Jayde57@hotmail.com,(587) 775-3984 x706
Litzy,Lueilwitz,Litzy45@hotmail.com,1-697-236-9087 x065
Kenneth,Gulgowski,Kenneth_Gulgowski80@gmail.com,894-908-0184 x30008
Lulu,Parker,Lulu61@yahoo.com,581.646.7661 x10273
Lera,Fisher,Lera_Fisher@gmail.com,(395) 210-1022 x210
Aaliyah,Howe,Aaliyah41@gmail.com,651-499-8245 x18428
Kallie,Muller,Kallie52@hotmail.com,1-847-867-1803 x05658
Jennie,Bartell,Jennie.Bartell@gmail.com,1-510-376-0581
Maddison,Pfannerstill,Maddison.Pfannerstill86@yahoo.com,(510) 525-2946

In [74]:
using SandDance.InteractiveExtension;

// Visualize the resulting data using SandDance
SandDanceDataExplorer explorer = tabular.ExploreWithSandDance();
explorer.Display()